@import "./variables.scss";

@mixin content-default {
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    min-height: 650px;
    width: 100%;
}

@mixin btn-site-color {
    background-color: $default-color;
    &:hover {
        background-color: lighten($default-color, 5%);
        color: #ffffff;
    }
}
